<a href="https://colab.research.google.com/github/nishantraj123/Blockchain-for-Business-Lab/blob/main/Experiment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Experiment-1: Input & Output functions**

**1. Print the following : ‘ Brian’s mother : He’s not the messiah.**

In [1]:
print('Brian’s mother : He’s not the messiah.\nHe’s a very naughty boy ! ')

Brian’s mother : He’s not the messiah.
He’s a very naughty boy !

**2. Take two variable a and b. Assign your first name and last name. Print your Name after adding your First name and Last name together. Example output : George ( woody ) Washington.**

In [2]:
a='Nishant'
b = 'Raj'
Name = a + " " + b
print(Name)

Nishant Raj

**3. Print your name three times like** 

GeorgeGeorgeGeorge

In [8]:
print("Nishant Raj"*3)

Nishant RajNishant RajNishant Raj

**4. Print your name three times like**

George George George

In [10]:
print(" Nishant Raj " * 3)

 Nishant Raj  Nishant Raj  Nishant Raj

**5**. **Declare and assign values to the variables first name, last name, address, DOB,Programme, semester, SAP ID and print in the following way :**

NAME : Mohit BANSAL

SAP ID : 500069944

DATE OF BIRTH : 13 Oct 1999

ADDRESS : UPES

Bidholi Campus

Pincode : 248007

Programme : BAO

In [5]:
Name =  'Nishant Raj'
SAPID = str('500070098')
DateOfBirth = '21 Feb 2000'
Address= 'UPES'
Address2 = 'Bidholi Campus'
Pincode = str('248007')
Programme = 'BAO'

print('NAME:' + Name + " " + '\nSAPID : '+ SAPID + '\nDATE OF BIRTH : '+DateOfBirth + '\nAddress : '+Address + '\n'+Address2 + '\nPINCODE : '+ Pincode + '\nProgramme : ' + Programme)

NAME:Nishant Raj
SAPID : 500070098
DATE OF BIRTH : 21 Feb 2000
Address : UPES
Bidholi Campus
PINCODE : 248007
Programme : BAO

**6. Write a Python program to solve**

(x+y)*(x+y)

Test data : x = 4 , y = 3

Expected output : (4+3)^2 = 49

In [11]:
x = 4
y = 3
(x+y)**2

49

**7. Write a program to find simple interest.**

In [13]:
P = 30
R = 1
T = 4
Simple_interest = (P * R * T) / 100
print("The simple interest is:", Simple_interest)

The simple interest is: 1.2

**8. Write a program to convert given seconds into hours, minutes and remaining seconds**

In [14]:
import time
sec = 123455
ty_res = time.gmtime(sec)
res = time.strftime("%H:%M:%S",ty_res)
print(res)

10:17:35

**9. Write a program to swap two numbers without taking additional variable.**

In [16]:
a = int(input())
b = int(input())
a +=b
b = a-b
a = a-b
print("a :",a)
print("b :",b)

13
56
a : 56
b : 13

**10. Write a program to find sum of first n natural numbers.**

In [17]:
n=int(input("Enter a number: "))
sum1 = 0
while(n > 0):
    sum1=sum1+n
    n=n-1
print("The sum of first n natural numbers is",sum1)

Enter a number: 12
The sum of first n natural numbers is 78